*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.main-container{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 50px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0px 2px 4px rightrgba(0, 0, 0, 0.05);
}
.changelog-header{
    text-align: centre;
    margin-bottom: 3rem;
}
.changelog-header h1{
    font-family: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.changelog-header p {
  color: #999;
  font-size: 1.1rem;
}
.timeline{
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline::before{
    content: "";
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: black;
}

.timeline-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
  position: relative;
  height: 60px;
}

.date {
  width: 45%;
  padding-right: 50px;
  text-align: right;
  font-size: 1rem;
  color: #222;
  line-height: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.timeline-entry .date::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  z-index: 1;
}

.entry {
  width: 50%;
  padding-left: 50px;
  font-size: 1.1rem;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}
.changelog-button{
    background-color: black;
    color: #fff;
    font-weight: bold;
    padding: 14px 25px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border-radius: 3px;
}
.changelog-button:hover{
    background-color: #333;
}